body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

@media (max-width: 782px) {
    html #wpadminbar {
        top: -46px;
    }
}

main {
    padding: 15px;
    height: 100vh;
}

header {
    position: absolute;
    z-index: 100;
    left: 15px;
    top: 45px;

    h1 {
        font-size: clamp(16px, (16 / 19.2) * 1vw, 36px);
    }
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.modal {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    text-align: center;
    width: 100vw;
    height: 100vh;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
        z-index: -1;
    }

    .modal-content {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    h2 {
        // ideal val is set to 
        font-size: clamp(24px, (42 / 25.6) * 1vw, 42px);
    }

    p {
        font-size: clamp(16px, (28 / 25.6) * 1vw, 28px);
    }

    .input-group {
        border-radius: 10px;
        background: rgba(0, 0, 0, 0.8);
        padding: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;


        input,
        button {
            max-width: 250px;
            min-width: 100px;
            padding: 10px;
            border-radius: 5px;
            font-family: Arial, Helvetica, sans-serif;

            // hide the no file selected tooltip
            color: transparent;
        }

        button {
            color: black;
            border: none;
            box-shadow: none;
        }

        p {
            font-size: clamp(12px, (24 / 25.6) * 1vw, 24px);
        }

        @media (min-width: 1200px) {
            flex-direction: row;
            justify-content: start;

            input,
            button {
                flex: 1 1 auto;
                margin-right: 5ch;
            }

            p {
                flex: 1 1 100%;
                text-align: start;
            }
        }
    }
}

#map {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    width: 100vw;
    height: 100vh;
}

.share-container {
    position: absolute;
    z-index: 10;
    background: rgba(0, 0, 0, 0.8);
    max-width: 75vw;
    border-radius: 10px;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 15px;
    text-align: center;
    font-size: clamp(16px, (32 / 25.6) * 1vw, 32px);

    input {
        margin-left: 10px;
        padding: 10px;
        border-radius: 10px;
        border: none;
        cursor: pointer;
        padding-right: 40px;
        font-size: inherit;
    }

    p {
        font-size: inherit;
    }

    .input-wrapper {
        position: relative;

        .svg {
            position: absolute;
            height: 24px;
            width: 24px;
            right: 5px;
            top: 50%;
            transform: translateY(-50%);

            svg {
                width: 100%;
                height: 100%;

                * {
                    stroke: black;
                    fill: none;
                }
            }
        }
    }

    @media (min-width: 1200px) {
        flex-direction: row;
        text-align: start;

        input {
            min-width: 450px;
        }
    }
}